<center class="new-post">
  <%= link_to 'New Post', new_post_path %>
</center> <!--.new-post-->

<br><br><br><br>

<div id="posts">

  <% @posts.each do |post| %>
    <div class="box">
        <%= link_to (image_tag post.image), post %>
        <%= post.description %>
        <p><strong>Source: <%= post.user.email %></strong></p>
        <p>
          <%= link_to 'Show', post %>
          <% if current_user == post.user %> <!-- CONDITIONAL FOR IF LOGGED IN USER = USER WHO POSTED THE CONTENT -->
            <%= link_to 'Edit', edit_post_path(post) %>
            <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </p>

    </div> <!--.box-->   
  <% end %>

</div> <!--.posts-->
